<div id="wrapper" >
    <!-- SIDEBAR -->
    <div id="sidebar-wrapper">
        <br>
        <div>
            <button  
                data-toggle="modal" 
                data-target="#basicModal" 
                type="button" 
                class="btn btn-lg btn-info center-block">
                How to use this app
            </button>
        </div>
        <div class="sidebar-title text-center ">
            <h3>Inputs</h3>
        </div>
        <div id="input-panels"></div>
        <div>
            <button id="add-input-set" type="button" class="btn pull-right">Add another</button>
        </div>
        <div class="bottom">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <button type="button" class="btn btn-info btn-lg">Print</button>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <button type="button" class="btn btn-info btn-lg">Export</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MAIN PAGE -->
    <div id="page-content-wrapper" class="lighter-grey-background">
        <div class="container1">

            <!-- INPUT PARAMETERS -->
            <div class="col-xs-12 col-md-6 light-grey-background input-container" id="inputContainer">
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <select class="form-control" ng-model="selectedAnion" ng-options="anion.label for anion in anions" ng-change="inputChanged()">
                            <option value="" disabled>Select anion</option>
                        </select>
                    </div>

                    <div class="col-xs-6">
                        <select class="form-control" data-width="100%" ng-model="selectedCation" ng-options="cation.label for cation in cations" ng-change="inputChanged()">
                            <option value="" disabled>Select cation</option>
                        </select>
                    </div>
                </div>
                <h4>or</h4>
                <input id="cas" type="text" class="form-control" placeholder="Enter a CAS number">
                <hr>
                <select class="form-control"  data-width="100%" ng-model="selectedElectrode" ng-options="electrode.label for electrode in electrodes" ng-change="inputChanged()">
                    <option value="" disabled>Select electrode</option>
                </select>
            </div>

            <!-- 3D MODEL -->
            <div class="col-xs-12 col-md-6" id="glmolParent"> 
                <div id="glmol">  
                    <textarea id="glmol_src"></textarea>
                </div>
            </div>

            <!-- GRAPH CANVAS --> 
            <div id="canvasParent">
                <canvas id="chart" class="white-background"></canvas>
            </div>

            <div class="row" id="slidersContainer">
                <div class="col-xs-1">
                    <p>E</p>
                    <p>a<sub>0,anion</sub></p>
                    <p>a<sub>0,cation</sub></p>
                    <p>&gamma;<sub>anion</sub></p>
                    <p>&gamma;<sub>cation</sub></p>
                </div>

                <div class="col-xs-9">
                    <input type="range" class="slider" id="epsilonSlider" min="0" max="4" step="0.25">
                    <input type="range" class="slider" id="a0AnionSlider" min="0.5" max="1" step="0.05">
                    <input type="range" class="slider" id="a0CationSlider" min="0.5" max="1" step="0.05">
                    <input type="range" class="slider" id="gammaAnionSlider" min="0" max="10" step="1">
                    <input type="range" class="slider" id="gammaCationSlider" min="0" max="10" step="1">
                </div>

                <div class="col-xs-2"> 
                    <p id="epsilonValue">2</p>
                    <p id="a0AnionValue">0.75</p>
                    <p id="a0CationValue">0.75</p>
                    <p id="gammaAnionValue">5</p>
                    <p id="gammaCationValue">5</p>
                </div>
            </div>

        </div>
    </div>
    <!-- HOWTOUSETHISAPP MODAL PAGE -->
    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">A toy-model of a SuperCapacitor</h4>
                </div>
                <div class="modal-body">
                    <h3>The following content will soon be informative</h3>
                    Lorem ipsum dolor sit amet, ex molestie recteque vel, mei no habeo nobis, deserunt definitionem eos eu. Mea te ipsum apeirian, at vitae doctus reprimique cum. Eos cibo porro animal an, in sea justo maiestatis. Te liber nostro his, nisl percipit no his. Epicurei ocurreret quo an, forensibus voluptaria repudiandae sed an.

                    Nisl velit mea te. Te nec docendi fastidii. Munere evertitur consectetuer ea est, an cum nonumes perpetua mnesarchum. Vix ubique invidunt maluisset ea, ad nisl deleniti eam.

                    Erat partiendo an cum, sit eius possit persecuti ne. Nec soluta libris dolores id, nec ut decore accusamus. Ut dolorem tincidunt per, et eos mundi saperet postulant. Quaeque efficiantur vis ut. Ne mazim timeam hendrerit vis.

                    Per in semper accusamus efficiantur. Mel ei lorem fastidii. Ea omnis primis vim. Appetere convenire nec eu, mazim ridens maiorum mel ex, sea illud putent persequeris ut. Eos utinam singulis assueverit te.

                    Vim inermis euripidis omittantur eu, has viris maiestatis quaerendum at, cu his fugit melius. Vocibus complectitur an eos, ne vix corpora apeirian inimicus. Laoreet prodesset disputationi ad est. Sea cu quot singulis, ut vix diam idque regione. Ignota graeci essent eos ei.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
