<!--<h2>Books</h2>
<div ng-repeat="book in books">
    <strong>{{book.title}}</strong> ({{book.author}})
    <a ng-click="book.editMode = true">Edit</a>
    <div ng-show="book.editMode">
        <input type="text" ng-model="book.title">
        <input type="text" ng-model="book.author">
        <input type="text" ng-model="book.isbn">
        <input type="text" ng-model="book.price">
        <button class="btn btn-default" ng-click="save(book)">Save</button>
        <button class="btn btn-default" ng-click="book.editMode = false">Cancel</button>
    </div>
</div>
<div>
    Title: <input type="text" ng-model="newbook.title">
    Author: <input type="text" ng-model="newbook.author">
    ISBN: <input type="text" ng-model="newbook.isbn">
    Price: <input type="text" ng-model="newbook.price">
    <button class="btn btn-default" ng-click="createBook(newbook)">Save</button>
</div>
----------------------------------------------->
<div ng-repeat="anion in anions">
    <strong>{{anion.name}}</strong> ({{anion.value}})
</div>
-----------------------------------------------
<div ng-repeat="cation in cations">
    <strong>{{cation.name}}</strong> ({{cation.value}})
</div>
-----------------------------------------------
<div ng-repeat="electrolyte in electrolytes">
    <strong>{{electrolyte.name}}</strong> ({{electrolyte.value}})
</div>
-----------------------------------------------
<div class="container  custom-valign50">
    <div class="row">
        
        <!-- INPUT PARAMETERS -->
        <div class="left-panel card large red lighten-5 col s12 m4">
            <br>
            <div class="row">
                <select class="browser-default col s12 m6" ng-model="selectedAnion" ng-options="anion.value as anion.name for anion in anions" ng-change="inputChanged()">
                    <option value="" disabled>Select anion</option>
                </select>

                <select class="browser-default col s12 m6" ng-model="selectedCation" ng-options="cation.value as cation.name for cation in cations" ng-change="inputChanged()">
                    <option value="" disabled>Select cation</option>
                </select>
            </div>
            <h5 class="grey-text text-darken-4">or</h5>
            <input id="cas" type="text" placeholder="Enter a CAS number">
            <br>
            <select class="browser-default" ng-model="selectedElectrolyte" ng-options="electrolyte.value as electrolyte.name for electrolyte in electrolytes" ng-change="inputChanged()">
                <option value="" disabled>Select electrolyte</option>
            </select>
        </div>
        
        <!-- GRAPH CANVAS -->
        <div class="right-panel card large col s12 m8">
            <canvas id="chart" width="850" height="500"></canvas>
        </div>

    </div>
</div>